article {       
  position: relative;
}

#article-header {
  background-color: var(--showtime-orange);
  padding: 3rem 3rem;
}

#article-content {
  padding: 2rem 3rem;
}

.dark-article > #article-header {
  background-color: var(--commercial-gray);
  color: var(--showtime-orange);
}

.dark-article > #article-content {
  background-color: #2e2e2e;
  color: white;
}

.dark-article > #article-content a {
  color: #b6b6f1;
}

#controls {
  float: right;
}

#controls > button {
  border: none;
  background-color: #f0f1f5;
  padding: 0.5rem 0.75rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin-left: 5px;
}

#article-header-name {
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
  font-weight: normal;
}

h1 {
  font-size: 1.75rem;
}

p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

#root {
  margin: 0;
}

#article-footer {
  border-top: 1px solid gray;
  margin-top: 2rem;
  padding-top: 2rem;
}

#last-edited {
  text-align: center;
  color: rgb(68, 69, 73);
}

/* Tablet */
@media only screen and (min-width: 768px) {

  #article-header {
    padding: 3rem 10rem;
  }
  
  #article-content {
    padding: 2rem 10rem;
  }

  #last-edited {
    text-align: right;
  }
}

/* Laptop */
@media only screen and (min-width: 1024px) {

}