[placeholder]:empty::before {
  content: attr(placeholder);
  cursor: text;
  color: var(--text);
}

#actions {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

#actions button {
  width: auto;
  flex: 1;
}

#belowFormatter {
  overflow-y: overlay;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: 0.3s;
  height: 100%;
}

#content {
  margin: 0 2rem;
  max-width: 864px;
  white-space: pre-wrap;
  box-sizing: border-box;
  user-select: text;
}

#content :first-child {
  margin-top: 0;
}

.creator {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: 100;
  user-select: text;
}

.creator img {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  user-select: none;
}

.flag {
  position: absolute;
  color: white;
  top: -22px;
  max-width: 176px;
  pointer-events: none;
}

.flagOwner {
  display: flex;
  background-color: var(--button);
  height: 24px;
  padding: 0 3px;
  justify-content: left;
  align-items: center;
}

#formatter {
  position: fixed;
  bottom: -235px;
  left: 0;
  width: 100%;
  height: 275px;
  background-color: var(--background-input);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: 0.15s;
}

#formatter.expanded {
  bottom: 0;
}

#formatter > section {
  justify-content: center;
  display: flex;
}

#formatter > section > button {
  width: 100%;
  background-color: transparent;
  font-weight: 100;
  height: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

#formatter button {
  color: var(--text);
}

#formatter > button {
  border-radius: 0;
  text-align: left;
  background-color: transparent;
  font-weight: 300;
}

#left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#metadata {
  margin-top: 2rem;
  max-width: 1080px;
  margin: 2rem 2rem 0;
}

#post {
  overflow-y: hidden;
  transition: 0.3s;
}

#postInfo {
  display: flex;
  flex-direction: column;
}

#postInfo h1 {
  font-size: 2rem;
  margin: 0;
  font-weight: 100;
  user-select: text;
  white-space: pre-wrap;
}

.stick {
  background-color: var(--button);
  height: 22px;
  width: 1px;
  display: block;
}

@media screen and (min-width: 768px) {

  #content {
    margin: 0 5rem;
  }

  #left {
    max-width: calc(100% - 271.75px);
  }

  #metadata {
    margin: 2rem 5rem 0;
  }

  #postInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #postInfo h1, #postInfo input {
    font-size: 2.5rem;
    margin: 0;
  }

  #cover {
    margin: 2rem 0 0;
  }

  #actions {
    margin-top: 0;
  }

}

@media screen and (min-width: 1024px) {

  #content {
    margin: 0 auto;
  }

}

@media screen and (min-width: 1440px) {

  #content, #metadata {
    width: 100%;
  }

  #content {
    margin: 0 auto;
  }

  #metadata {
    margin: 2rem auto 0;
  }

}