footer {
  border-top: 1px solid #5b5e62;
  padding: 2rem 0;
  margin: 0 2rem;
}

#footer-copyright {
  border-top: 1px solid #5b5e62;
  margin: 2rem 0 0 0;
  padding-top: 2rem;
  color: var(--night-text);
  text-align: center;
}

#footer-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#footer-columns h1 {
  color: #5687cf;
  font-size: 1rem;
}

#footer-columns > section:first-of-type {
  margin: 0;
}

#footer-columns > section {
  flex: 1 1 0px;
}

#footer-columns ul {
  list-style-type: none;
  padding: 0;
}

footer a {
  border-bottom: none;
  font-weight: 300;
}

footer a:hover {
  transition: 0.3s;
}

#home-features {
  margin: 0 5rem;
}

@media screen and (min-width: 768px) {

  footer {
    margin: 0 5rem;
  }

  #footer-copyright {
    text-align: left;
  }
  
}