footer {
  padding: 2rem 0;
  background-color: #26272b;
  border-top: 1px solid #5b5e62;
}

footer a {
  border-bottom: none;
  font-weight: 300;
}

footer a:hover {
  transition: 0.3s;
}

#content {
  margin: 0 2rem;
  max-width: 1280px;
}

#home-features {
  margin: 0 5rem;
}

#columns ul {
  display: none;
  list-style-type: none;
  padding: 0;
}

#columns h1 {
  color: #5687cf;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

#columns h1 span {
  width: 15px;
}

#columns .open ul {
  display: block;
}

.open span {
  transform: scaleY(-1);
}

#copyright {
  border-top: 1px solid #5b5e62;
  margin: 2rem 0 0 0;
  padding-top: 2rem;
  text-align: left;
}

@media screen and (min-width: 768px) {

  #content {
    margin: 0 5rem;
  }

  #columns {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  #columns h1 {
    cursor: initial;
  }

  #columns h1 span {
    display: none;
  }
  
  #columns > section:first-of-type {
    margin: 0;
  }
  
  #columns > section {
    flex: 1 1 0px;
  }
  
  #columns ul {
    display: block;
  }
  
}

@media screen and (min-width: 1440px) {

  #content {
    margin: 0 auto;
  }

}