#footer-copyright {
  border-top: 1px solid #5b5e62;
  margin-top: 2rem;
  padding-top: 2rem;
  color: var(--night-text);
}

#footer-columns {
  display: flex;
  gap: 5rem;
}

#footer-columns h1 {
  color: #5687cf;
  font-size: 1rem;
}

#footer-columns > section:first-of-type {
  margin: 0;
}

#footer-columns > section {
  width: 20%;
}

#footer-columns ul {
  list-style-type: none;
  padding: 0;
}

#home-features {
  margin: 0 5rem;
}