:root {
  --background-blue: rgb(165, 184, 240);
}

* {
  font-family: "Lexend Deca";
}

body {
  margin: 0;
  line-height: 1.5;
  background-color: var(--background-blue);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  top: 3.5rem;
  position: relative;
}