:root {
  --showtime-yellow: rgb(246, 226, 109);
  --commercial-gray: rgb(68, 69, 73);
}

* {
  font-family: "Lexend Deca";
}

body {
  margin: 0;
  line-height: 1.5;
  background-color: white;
}

a {
  text-decoration: none;
  border-bottom: 2px solid;
  color: #5c5cf5;
}

a:hover {
  border-bottom: none;
  font-weight: bold;
  border-bottom: 3px solid;
}

main {
  top: 3.5rem;
  position: relative;
}