#fileSelectBackground {
  background-color: var(--night-input-background);
  border-radius: 5px;
  border: 1px solid #111111;
  height: 350px;
  justify-content: center;
  margin-top: 1rem;
}

#fileSelectBackground p {
  margin: 0;
}

#fileSelectBackground, #fileSelectBackground > section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fileSelectBackground > section {
  gap: 1rem;
}

#fileSelectBackground img {
  margin-bottom: 1rem;
  max-height: 200px;
}

#avatar, #cover {
  cursor: pointer;
}

#avatar {
  border-radius: 100%;
  height: 179.2px;
  width: 179.2px;
}