#viewer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  height: 100%;
  background-color: #000000da;
  z-index: 1;
  opacity: 1;
  transition: 0.3s;
}

.closed#viewer {
  opacity: 0;
  pointer-events: none;
}

#content {
  height: 100%;
  width: 80%;
}

#image-background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform: none;
  transition: 0.3s;
}

#image-background > img {
  max-width: 90%;
}

.closed #image-background {
  transform: scale(70%);
}

#artist {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  gap: 1rem;
  opacity: 1;
  transition: 0.3s;
}

.closed #artist {
  opacity: 0;
}

#artist > h1, #artist > h2 {
  margin: 0;
}

#artist > h2, #artist > a {
  color: #959595;
  font-weight: 300;
}

#artist > img {
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
}

#right {
  padding: 1rem 0;
  width: 30rem;
  background-color: var(--night-article);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 0.3s;
  position: relative;
  left: 0;
  height: 90%;
  top: 2.5%;
}

.closed #right {
  left: 30rem;
}

#right dl {
  border-top: 1px solid var(--night-text);
  padding-top: 1rem;
}

#right dd {
  margin-bottom: 1rem;
}

#right p {
  margin: 0;
}

#show-comments {
  width: 78%;
  box-sizing: border-box;
}

#show-comments.disabled {
  cursor: not-allowed;
  border: 1px solid var(--night-text);
  color: var(--night-text);
  background: transparent;
}

#comment-creator > input[type="submit"] {
  float: right;
  margin: 0 1rem 1rem 0;
}

#timestamp {
  filter: brightness(0.7);
}

#metadata {
  height: 94.5%;
  overflow-y: auto;
  padding: 0 1rem;
}

#actions {
  display: flex;
  gap: 0.5rem;
  height: 5.5%;
  padding: 0 1rem;
}

#actions > button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#like {
  width: 22%;
  box-sizing: border-box;
}

#details {
  gap: 1rem;
}

#details, #details.closed + #comment-container {
  display: flex;
  flex-direction: column;
  opacity: 1;
}

#comment-container, #details.closed {
  opacity: 0;
  display: none;
}

#details, #comment-container {
  position: relative;
  transition: 0.3s;
  height: 100%;
}

#comment-creator {
  background-color: var(--night-input-background);
  margin: 0 1rem;
  border-radius: 5px;
}

#comment-creator > textarea {
  max-height: 10rem;
}

#comment-creator > input {
  display: none;
  opacity: 0;
  transition: 0.3s;
}

#comments {
  padding-inline-start: 0;
  margin: 1rem 0 0;
  max-height: 24rem;
  overflow-y: auto;
}

#comment-container > button {
  margin: auto 1rem 0;
}

.commenting > input {
  display: block;
  opacity: 1;
}