.background {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
}

.background.open {
  background-color: rgba(0, 0, 0, 0.623);
  opacity: 1;
  z-index: 2;
  pointer-events: initial;
}

.container {
  background-color: var(--night-article);
  border-radius: 5px;
  padding: 0 20px 25px;
  width: 853px;
  transition: 0.3s;
}

.header button {
  background: none;
  color: var(--night-text);
  padding: 0;
  font-size: 2rem;
}

.header button:active:focus {
  transform: scale(0.9);
}

:global(.light) .header button {
  color: var(--light-text);
}

:global(.light) .container {
  background-color: var(--light-article);
}

.open > .container {
  width: 1280px;
}

.header {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.header > h1 {
  margin: 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.content {
  overflow-y: auto;
  transition: 0.3s;
  height: 17.5rem;
}

.open .content {
  height: 35rem;
}

.content > p:first-of-type {
  margin-top: 0;
}