.background {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
  z-index: 3;
  pointer-events: none;
}

.background.open {
  background-color: rgba(0, 0, 0, 0.623);
  opacity: 1;
  pointer-events: initial;
}

.container, .open > section.shifting {
  background-color: var(--article);
  transform: scale(0.5);
  transition: 0.3s;
  width: 100%;
  box-sizing: border-box;
  border-color: transparent;
}

.open > section.shifting {
  opacity: 0;
}

.header button {
  background: none;
  color: var(--text);
  padding: 0;
  font-size: 2rem;
  box-shadow: none;
  height: 24px;
  display: flex;
  align-items: center;
}

.header button:active:focus {
  transform: scale(0.9);
}

:global(.light) .container {
  background-color: var(--article);
}

.open > .container {
  transform: scale(1);
}

.header {
  height: 63px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #101010;
  box-shadow: var(--box-shadow);
  align-items: center;
}

.header > h1 {
  margin: 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  font-family: "Lexend Deca";
  font-weight: 700;
}

.content {
  overflow-y: auto;
  transition: 0.3s;
  height: calc(100% - 133px);
  padding: 20px;
  box-sizing: border-box;
}

.open .container {
  height: 100%;
}

.content > p:first-of-type {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  
  .container, .open > section.shifting {
    width: 728px;
    border-radius: 10px;
    overflow: hidden;
  }

  .open .container {
    height: initial;
  }

  .content {
    height: initial;
    max-height: 500px;
  }

}

.options {
  background-color: #101010;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 15px;
  height: 70px;
}

@supports (backdrop-filter: blur(5px)) {

  .background.open {
    backdrop-filter: blur(10px);
    background-color: #000000d6;
  }

  .container {
    backdrop-filter: blur(5px);
    background-color: #313237b8;
  }

}