#profile-bg {
  width: 100%;
  height: 20rem;
  background-color: black;
  background-image: url(https://i1.sndcdn.com/visuals-000205406223-miu7o4-t2480x520.jpg);
  background-size: cover;
}

#profile-info {
  background-color: var(--night-background);
  border-radius: 100px;
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  position: relative;
  top: 14.5rem;
  filter: drop-shadow(0 10px 12px rgba(0, 0, 0, 0.2));
  align-items: center;
}

#profile-info > img {
  border-radius: 100%;
  background-color: black;
  width: 7rem;
  height: 7rem;
}

#profile-info > section {
  margin-left: 1.5rem;
}

#profile-info h1, #profile-info h2 {
  margin: 0;
}

#profile-info h2 {
  font-size: 1.2rem;
  color: var(--night-text);
}

#profile-info > section:nth-of-type(2) {
  margin-left: auto;
}

#profile-btn-edit {
  float: right;
  position: absolute;
  top: 6rem;
  right: 2rem;
}

#profile-stats > section {
  display: flex;
  margin-top: 1rem;
}

#profile-stats > section:first-of-type {
  margin: 0;
}

#profile-stats > section > section:first-of-type {
  width: 10rem;
}

#profile-container {
  display: flex;
  margin-top: 2rem;
}

#profile-container-left, #profile-container-right {
  width: 20%;
  margin: 0 2rem;
}

#profile-container-center {
  width: 60%;
  margin-top: 5rem;
}

#profile-selection {
  display: flex;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
}

#profile-selection a:first-of-type {
  margin-left: 0;
}

#profile-selection a {
  margin-left: 1rem;
}

#profile-container-center > section:nth-of-type(2) {
  margin-top: 2rem;
}

.profile-card {
  background-color: var(--night-article);
  filter: drop-shadow(0 10px 12px rgba(0, 0, 0, 0.2));
  padding: 1rem;
  border-radius: 15px;
}

#profile-bio h1:first-of-type {
  font-size: 1.2rem;
  margin: 0;
}

#profile-bio p {
  margin-top: 10px;
  margin-bottom: 0;
}

#profile-main {
  overflow-y: auto;
}

#profile-actions button:first-of-type {
  margin: 0;
}

#profile-actions button {
  margin-top: 1rem;
  width: 100%;
}

.profile-library {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: calc(720px - 2rem);
  margin: 1.5rem auto 0;
}

.profile-library-item {
  height: 10rem;
  background-color: black;
  display: block;
  border-radius: 5px;
  flex: 1 0 10rem;
  max-width: 10rem;
}

#profile-stories .profile-library-item {
  height: 15rem;
}

#profile-worlds .profile-library-item {
  border-radius: 100%;
}