/* Profile container */
#profile {
  max-width: 1280px;
  display: flex;
  gap: 25px;
  flex-direction: column;
  margin: 0 32px;
}

@media screen and (min-width: 768px) {

  #profile {
    margin: 0 5rem;
  }
  
}

@media screen and (min-width: 1440px) {

  #profile {
    margin: 0 auto;
  }

}

/* Profile metadata */
#metadata {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 5px;
}

#metadata h1, #metadata h2 {
  margin: 0;
  text-align: center;
}

#metadata h1 {
  font-size: 1.5rem;
}

#metadata h2 {
  font-weight: 300;
  font-size: 1.1rem;
  color: var(--text);
}

#avatar {
  border-radius: 100%;
  background-color: gray;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  overflow: hidden;
  border: 2px solid white;
  box-shadow: var(--box-shadow);
}

#avatar img {
  height: 100%;
  width: 100%;
}

/* Profile navigation bar */
#profile nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

#profile nav a {
  padding: 10px 15px;
  border-radius: 25px;
  color: var(--text);
  -webkit-tap-highlight-color: transparent;
}

#profile nav a:hover {
  color: white;
  background-color: #5950cd5e;
}

#profile .selected {
  background-color: #5950cd;
  color: white;
}

#profile .selected:hover {
  background-color: #7068de;
}

/* Art container */
#artContainer, #characterContainer, #organizationContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 25px;
}

#artContainer a {
  width: 119px;
  height: 119px;
  background-color: #17161c;
  display: block;
  border-radius: 5px;
}

/* Blog container */
#blogContainer {
  margin-top: 25px;
  display: flex;
  gap: 25px;
  flex-direction: column;
}

#blogContainer a {
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

.blogBanner {
  width: 100%;
  aspect-ratio: 3 / 2;
  background-color: #17161c;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 5px;
}

.blogBanner img {
  width: 100%;
}

.topic {
  text-transform: uppercase;
  color: var(--link)
}

@media screen and (min-width: 768px) {

  .blogBanner {
    width: 311px;
  }

  #blogContainer a {
    display: flex;
    gap: 20px;
  }
  
}

#blogContainer h1, #blogContainer p {
  margin: 0;
}

/* Character container */
#characterContainer a, #organizationContainer a {
  width: 119px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.characterAvatar, .orgAvatar {
  width: 119px;
  height: 119px;
  background-color: #17161c;
  display: block;
  border-radius: 100%;
}

.orgAvatar {
  border-radius: 5px;
}