#settings-save-section {    
  position: fixed;
  pointer-events: none;
  width: calc(100% - 3rem);
  top: 85%;
  margin-top: 0 !important;
  border-top: 0 !important;
  z-index: 3;
}

:global(.day) #settings-save-section > section {
  background-color: var(--day-background);
}

#settings-save-section > section {
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--night-background);
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-sizing: border-box;
}

#settings-main:global(.day) > section:nth-child(2), #settings-main:global(.day) > article {
  background-color: var(--day-article);
}

#settings-main > section:nth-child(2), #settings-main > article {
  padding: 0 1.5rem 1rem;
  overflow-y: auto;
  background-color: var(--night-article);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;
  box-sizing: border-box;
}

#settings-main > section:nth-child(2) > section:first-of-type, #settings-main > section:nth-child(2) > section:nth-child(2), #settings-main > section:nth-child(2) > section:nth-child(3) {
  border-top: none;
  margin-top: 0;
}

#settings-main > section:nth-child(2) > section:last-of-type {
  padding-bottom: 100px;
}

#settings-nav {
  display: none;
  width: 100%;
  height: calc(100% - 2rem);
  padding: 0 1rem;
  box-sizing: border-box;
  margin: 1rem;
}

#settings-nav h1 {
  font-weight: bold;
  font-size: 1.2rem;
  color: #686972;
  border-bottom: none;
  padding-bottom: 0;
}

:global(.day) > #settings-nav h1 > a {
  color: black;
}

#settings-nav h1 > a {
  color: white;
  border-bottom: none;
  cursor: pointer;
  font-weight: normal;
}

#settings-nav ul {
  list-style-type: none;
  padding-left: 0;
}

#settings-nav ul > li {
  margin-top: 0.75rem;
  border-radius: 3px;
}

:global(.day) #settings-nav ul > li:hover {
  background-color: #d3d3d4;
}

#settings-nav ul > li:hover {
  background-color: #2d2e34;
  color: white;
}

:global(.day) #settings-nav ul > li > a {
  color: #4f5053;
}

#settings-nav ul > li > a {
  color: #afafaf;
  border-bottom: none;
  display: block;
  padding: 0.25rem 0.75rem;
}

#settings-nav ul > li > a:hover {
  font-weight: normal;
}

#settings-nav-selected {
  background-color: #3c3d44;
}

#settings-nav-selected:hover {
  background-color: #3c3d44 !important;
}

#settings-nav-selected > a {
  color: white !important;
}

#settings-list {
  padding: 0;
  max-height: 285px;
  overflow-y: auto;
}

#settings-list > li {
  padding: 1rem;
  display: flex;
  border-radius: 3px;
  border: 1px solid #424242;
  cursor: pointer;
  margin-top: 1rem;
}

#settings-list > li:hover {
  background-color: #424242;
}

#settings-list > li:first-child {
  margin-top: 0;
}

#settings-list > li > section:nth-child(2) {
  display: none;
}

#settings-prompt {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

#settings-prompt > section {
  position: fixed;
  z-index: 1;
  background-color: #434252;
  padding: 1rem 2rem 2rem;
  border-radius: 5px;
  text-align: center;
}

#settings-prompt-selection {
  display: flex;
  justify-content: center;
}

#settings-prompt-selection > button:first-of-type {
  margin-left: 0;
}

#settings-prompt-selection > button {
  margin-left: 1rem;
}

#settings-prompt > div {
  width: 100%;
  height: 100%;
  background-color: rgb(26, 26, 26);
  opacity: 0.7;
}

#article-footer {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid gray;
}

#article-controls {
  float: right;
}

#article-content > p[placeholder]:empty::before {
  content: attr(placeholder);
  cursor: text;
}

@media only screen and (min-width: 768px) {
  #settings-main {
    display: flex;
  }

  #settings-save-section {  
    height: auto;
    width: 100%;
    position: sticky;
    margin-top: -3.45rem !important;
  }

  #settings-main > section:nth-child(2), #settings-main > article {
    width: calc(100% - 3.5rem);
    box-sizing: border-box;
  }

  #settings-nav {
    display: block;
    width: calc(270px + 1rem);
    overflow-y: auto;
  }
}